<h1>Gif Search</h1>
<section>
  <input type="text" #giphyKeyword />
  <button (click)="searchForGiphy(giphyKeyword.value)">Giphy</button>
  <input type="text" #tenorKeyword />
  <button (click)="searchForTenor(tenorKeyword.value)">
    Tenorで検索します
  </button>
  <input type="text" #mergeKeyword />
  <button (click)="searchForMerge(mergeKeyword.value)">
    GiphyとTenorで検索します
  </button>
</section>
<section>
  <h2>Giphy</h2>
  <ng-container *ngIf="giphyItems$ | async as giphyItems; else elseGiphy">
    <div *ngFor="let url of giphyItems">
      <img src="{{ url }}" />
    </div>
  </ng-container>
  <ng-template #elseGiphy><div>No Result</div></ng-template>
</section>
<section>
  <h2>Tenor</h2>
  <ng-template #elseTenor><div>No Result</div></ng-template>
  <ng-container *ngIf="tenorItems$ | async as tenorItems; else elseTenor">
    <div *ngFor="let url of tenorItems">
      <img src="{{ url }}" />
    </div>
  </ng-container>
</section>
<section>
  <h2>Merge</h2>
  <ng-template #elseMerge><div>No Result</div></ng-template>
  <ng-container *ngIf="mergeItems$ | async as mergeItems; else elseMerge">
    <div *ngFor="let url of mergeItems">
      <img src="{{ url }}" />
    </div>
  </ng-container>
</section>
